:root {
    --color-bg-beige: #f5f4ee;
    --color-light-beige: #e1decc;
    --color-light-brown: #c7aca4;
    --color-light-green: #abad7d;
    --color-medium-green: #73824c;
    --color-dark-green: #506326;
    --color-light-yellow: #fae489;
    --color-gold: #c79930;
    --color-medium-brown: #8f6a44;
    --color-dark-brown: #423e1b;
    --color-dark-red: #893e3e;
}
$color-bg-beige: #f5f4ee;
$color-light-beige: #e1decc;
$color-light-brown: #c7aca4;
$color-light-green: #abad7d;
$color-medium-green: #73824c;
$color-dark-green: #506326;
$color-light-yellow: #fae489;
$color-gold: #c79930;
$color-medium-brown: #8f6a44;
$color-dark-brown: #423e1b;
$color-dark-red: #893e3e;
