---
import Icon from "./parts/Icon.astro";
import Modal from "./parts/Modal.astro";
import MapIframe from "./parts/MapIframe.astro";
import MapIframe2 from "./parts/MapIframe2.astro";
import EventTimes from "./parts/EventTimes.astro";
---

<div class="wrapper-background">
  <section class="container celebration grid grid-cols-1">
    <div class="flex justify-center items-center flex-col">
      <div class="circle-icon">
        <span
          class="icon-container icon-ring invisible animate__animated animate__slow"
        >
          <Icon icon="ring" />
        </span>
      </div>

      <h2 class="celebration__title font-start-midnight">Boda y Celebración</h2>

      <div class="celebration__info">
        <h2 class="title-block">Día</h2>
        <p>Sábado 3 de Mayo - 18h</p>
        <button id="openModalAssistence" class="button-link"
          >Confirmar Asistencia</button
        >

        <div class="celebration__info">
          <h2 class="title-block">Lugar</h2>
          <p>Basílica de Santa María del Conceyu</p>
          <button id="openModalMap" class="button-link">Cómo llegar</button>
          <p>Finca Las Nieves</p>
          <button id="openModalMap2" class="button-link">Cómo llegar</button>
        </div>

        <div class="celebration__info">
          <h2 class="title-block">Autobús</h2>
          <p>Horario autobús para invitados</p>
          <button id="openModalBusschedules" class="button-link"
            >Ver horarios</button
          >
        </div>
      </div>
    </div>
  </section>
  <Modal
    id="modalAssitence"
    open="openModalAssistence"
    close="closeModalAssintece"
    title="Confirmar Asistencia"
  >
    <div class="flex justify-center items-center flex-col" slot="body">
      <img src="/assets/images/image5.png" alt="" style="width: 320px" />
      <p class="text-center">¡Ayúdanos a que la boda salga lo mejor posible!</p>
      <p class="text-center">
        Por favor, rellena el siguiente formulario para confirmar tu asistencia.
      </p>
    </div>
    <a
      href="https://forms.gle/c1U2kp4tDnYi2GocA"
      target="_blank"
      class="button-link"
      slot="footer">Completar formulario</a
    >
  </Modal>

  <Modal
    id="modalMap"
    open="openModalMap"
    close="closeModalMap"
    title="¿Cómo llegar a la ceremonia?"
  >
    <MapIframe slot="body" />
    <a
      href="https://www.google.com/maps/place/Bas%C3%ADlica+de+Santa+Mar%C3%ADa+del+Concejo/@43.4214881,-4.7566724,16z/data=!3m2!4b1!5s0xd49eae1809e9267:0x9a8cfd333de99bc!4m6!3m5!1s0xd49eae22ca7e59b:0xa72d62a6c6ad52b8!8m2!3d43.4214881!4d-4.7540975!16s%2Fm%2F0c40x02?entry=ttu&g_ep=EgoyMDI0MTExNy4wIKXMDSoASAFQAw%3D%3D"
      target="blank"
      class="button-link"
      slot="footer">Ampliar Mapa</a
    >
  </Modal>
  <Modal
    id="modalMap2"
    open="openModalMap2"
    close="closeModalMap2"
    title="¿Cómo llegar a la finca?"
  >
    <MapIframe2 slot="body" />
    <a
      href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11592.047494749473!2d-4.788260974825505!3d43.418578639747906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd49ea52302de4c1%3A0x9a0ee146c2dcdf37!2sFinca%20Las%20Nieves!5e0!3m2!1ses!2ses!4v1733069144176!5m2!1ses!2ses"
      target="blank"
      class="button-link"
      slot="footer">Ampliar Mapa</a
    >
  </Modal>

  <Modal
    id="modalBusSchedules"
    open="openModalBusschedules"
    close="closeModalBusschedules"
    title="Horarios de autobús"
  >
    <div class="flex justify-center items-center flex-col" slot="body">
      <p class="mb-6">Haz click para ver el lugar exacto en el mapa</p>
      <EventTimes />
    </div>
  </Modal>

  <script>
    import { observerAnimation } from "../scripts/observerAnimation";
    observerAnimation(".icon-ring", "animate__fadeInUp");
  </script>

  <style lang="scss">
    @import "../styles/variables/_color.scss";

    .celebration {
      padding: 50px 0;
    }

    .celebration__title {
      text-align: center;
      background-color: var(--color-highlight-dark);
      border-radius: 5px 20px 5px;
      min-width: 50%;
      color: white;
      font-size: 4rem;
      letter-spacing: 5px;
      padding: 0 10px;
      margin: 0 10px;
      @media (max-width: 540px) {
        font-size: 2.5rem;
      }
    }

    .celebration__info {
      padding: 15px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      place-items: center;
      gap: 18px;
      h3 {
        color: $color-accent-dark;
        font-size: 2rem;
      }

      p {
        padding-top: 30px;
        font-size: 1.5rem;
      }
    }
  </style>
</div>
