---
import Icon from "./parts/Icon.astro";
import Modal from "./parts/Modal.astro";
import ClipBoard from "./parts/ClipBoard.astro";
import Slider from "./parts/Slider.astro";
---

<section class="helpus container grid grid-cols-1 gap7 place-items-center">
  <div
    class="helpus__block helpus__block--playlist flex justify-center items-center flex-col shadow-lg"
  >
    <h2 class="title-block my-6">Ayúdanos a llegar lejos</h2>

    <div class="circle-icon helpus__circle-icon">
      <span
        class="icon-container icon-plane invisible animate__animated animate__slow"
      >
        <Icon icon="plane" />
      </span>
    </div>

    <div class="helpus__text">
      <p>Nos gustaría ir de viaje de novios lejos, muy lejos...</p>
      <p>¿Nos ayudas a conseguirlo?</p>
    </div>

    <button id="openModalHelpUs" class="button-link helpus__button"
      >Ayúdanos</button
    >
  </div>
</section>

<Modal
  id="modalHelpUs"
  open="openModalHelpUs"
  close="closeModalHelpUs"
  title="Ayúdanos a llegar lejos"
>
  <div class="flex justify-center items-center flex-col" slot="body">
    <p class="text-center mb-4">
      Queremos llegar hasta las Islas Reunión y Mauricio. ¡Cualquier ayuda es
      bienvenida!
    </p>

    <Slider />

    <ClipBoard id="ibanInes" text="ES59 0182 5728 4102 0001 6391" name="Inés" />
    <ClipBoard id="ibanCarlos" text="ES36 2100 1649 1302 0025 8411" name="Carlos"/>
  </div>
</Modal>

<script>
  import { observerAnimation } from "../scripts/observerAnimation";
  observerAnimation(".icon-plane", "animate__fadeInBottomLeft");
</script>

<style lang="scss">
  @import "../styles/variables/_color.scss";
  .helpus {
    padding: 60px 20px;
  }
  .helpus__block {
    max-width: 80;
    height: 100%;
    padding: 1rem;
    border-radius: 25px;
    background-color: $color-light-beige;
    color: $color-dark-green;
  }

  .helpus__text {
    text-align: center;
    margin-bottom: 2rem;
    height: 60px;
    padding: 5px;
  }

  .helpus__button {
    margin-bottom: 2rem;
  }

  .helpus__circle-icon {
    width: 160px;
    height: 160px;
    padding: 30px;
  }
</style>
