---
import Icon from "./parts/Icon.astro";
import Tips from "./parts/Tips.astro";
import Modal from "./parts/Modal.astro";
import PlayListIframe from "./parts/PlayListIframe.astro";
import PreBoda from "./parts/PreBoda.astro";
---

<section class="party container grid grid-cols-1 md:grid-cols-3 gap-7">
  <div
    class="party__block party__block--preboda flex justify-center items-center flex-col shadow-lg"
  >
    <h2 class="title-block my-6">PreBoda</h2>

    <div class="circle-icon party__circle-icon">
      <span
        class="icon-container icon-preboda invisible animate__animated animate__slow"
      >
        <Icon icon="preboda" />
      </span>
    </div>

    <div class="party__text">
      <p>¿Contamos contigo?</p>
    </div>

    <button id="openModalPreBoda" class="button-link party__button"
      >Dónde es</button
    >
  </div>

  <div
    class="party__block party__block--playlist flex justify-center items-center flex-col shadow-lg"
  >
    <h2 class="title-block my-6">Música</h2>

    <div class="circle-icon party__circle-icon">
      <span
        class="icon-container icon-music invisible animate__animated animate__slow"
      >
        <Icon icon="music" />
      </span>
    </div>

    <div class="party__text">
      <p>¿Cuál es la canción que no debe faltar en la playlist de la fiesta?</p>
    </div>

    <button id="openModalPlayList" class="button-link party__button"
      >Colabora</button
    >
  </div>

  <div
    class="party__block party__block--tips flex justify-center items-center flex-col shadow-lg"
  >
    <h2 class="title-block my-6">Tips y Notas</h2>

    <div class="circle-icon party__circle-icon">
      <!-- <Icon
        name="mdi:book-edit-outline"
        class="icon-notes invisible animate__animated animate__slow"
      /> -->
      <span
        class="icon-container icon-notes invisible animate__animated animate__slow"
      >
        <Icon icon="notes" />
      </span>
    </div>
    <div class="party__text">
      <p>
        Información adicional para los invitados. Peluquerias, tiendas, dónde
        comer...
      </p>
    </div>

    <button id="openModalTips" class="button-link party__button"
      >Descubrir</button
    >
  </div>

  <Modal
    id="modalPreBoda"
    open="openModalPreBoda"
    close="closeModalPreBoda"
    title="PreBoda"
  >
    <div class="flex justify-center items-center flex-col" slot="body">
      <PreBoda />
      <a
        href="https://maps.app.goo.gl/o44rXDraYVYCajLu7"
        target="blank"
        class="button-link"
        slot="footer">Ampliar mapa</a
      >
    </div>
  </Modal>

  <Modal
    id="modalPlayList"
    open="openModalPlayList"
    close="closeModalPlayList"
    title="Sugerir una canción"
  >
    <PlayListIframe slot="body" />
    <a
      href="https://www.youtube.com/playlist?list=PLn6psApLjE88WUhspeTS_TM489Uxgb4Xi&jct=qhtRw-fBoNH14l7WPKY4DJXpdyIzxg"
      target="blank"
      class="button-link"
      slot="footer">Añadir canción</a
    >
  </Modal>

  <Modal
    id="modalTips"
    open="openModalTips"
    close="closeModaltips"
    title="Tips y notas"
  >
    <div class="flex justify-center items-center flex-col" slot="body">
      <Tips />
    </div>
  </Modal>
</section>

<script>
  import { observerAnimation } from "../scripts/observerAnimation";
  observerAnimation(".icon-preboda", "animate__fadeInLeft");
  observerAnimation(".icon-music", "animate__fadeInUp");
  observerAnimation(".icon-notes", "animate__fadeInRight");
</script>

<style lang="scss">
  @import "../styles/variables/_color.scss";

  .party {
    padding: 60px 20px;
  }
  .party__block {
    height: 100%;
    padding: 1rem;
    border-radius: 25px;
    background-color: $color-light-beige;
    color: $color-dark-green;
  }

  .party__text {
    text-align: center;
    margin-bottom: 2rem;
    height: 60px;
  }

  .party__button {
    margin-bottom: 2rem;
  }

  .party__circle-icon {
    width: 160px;
    height: 160px;
    padding: 30px;
  }
</style>
