---
import Icon from "astro-icon";

interface Props {
  id: string;
  text: string;
  name: string;
}
const { id, text, name } = Astro.props;
---

<div class="clipboard-container">
  <p>{name}</p>
  <div class="clipboard">
    <div id={id} class="clipboard__text border p-2 flex-grow">{text}</div>
    <button class="btn-clipboard" data-clipboard-target={`#${id}`}>
      <Icon name="mdi:clipboard-outline" />
    </button>
  </div>
</div>

<style lang="scss">
  @import "../../styles/variables/_color.scss";

  .clipboard-container {
    margin-top: 15px;
  }
  .clipboard {
    display: flex;
    // margin-top: 25px;

    .clipboard__text {
      display: grid;
      place-items: center;
      text-wrap: balance;
      background-color: $color-bg-beige;
      color: $color-dark-green;
      border-radius: 25px 0 0 25px;
      border: 1px solid $color-dark-green;
      width: 230px;
      padding: 0 5px;
    }

    .btn-clipboard {
      width: 50px;
      color: $color-gold;
      background-color: $color-bg-beige;
      border-radius: 0px 25px 25px 0px;
      border: 1px solid $color-dark-green;
      border-left: none;
      padding: 10px;
      transition:
        background-color 0.5s ease,
        color 0.5s ease;
    }
    .btn-clipboard:hover {
      background-color: $color-light-beige;
      color: $color-dark-green;
    }
  }
</style>

<script>
  import ClipboardJS from "clipboard";

  const btnCopy = document.querySelector(".btn-clipboard");
  const clipboard = new ClipboardJS(btnCopy);

  clipboard.on("success", function (e) {
    console.log(e);
    // alert("Copied to clipboard!");
  });

  clipboard.on("error", function (e) {
    console.log(e);
  });
</script>
