---
import Icon from "./Icon.astro";

const linkBusSanvi = "https://maps.app.goo.gl/TGGSAvEw5kGTo6YXA";
const linkBusComillas = "https://maps.app.goo.gl/mJnCidgBmtcDXowj7";
const linkBusCabe = "https://maps.app.goo.gl/3WpvN7QAuhtp1AVK8";
const linkBusMolinos = "https://maps.app.goo.gl/nWqqT3uJ3QkZeRPB8";
---

<!-- component -->
<div class="relative wrap overflow-hidden w-full h-full bus-time">
  <!-- <div
    class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border"
    style="left: 16px"
  > -->
</div>
<!-- San Vicente -->
<div class="mb-2 flex justify-start items-center w-full">
  <div
    class="z-20 flex items-center order-1 me-3 shadow-xl w-8 h-8 p-1 rounded-full bus-time__icon animate__animated animate__bounceInLeft"
  >
    <Icon icon="bus" />
  </div>
  <div
    class="order-1 rounded-lg shadow-xl w-5/12 p-2 animate__animated animate__backInRight bus-time__card"
  >
    <a href={linkBusSanvi} target="_blank">
      <h3 class="bus-time__title">San Vicente de la Barquera</h3>
      <p class="bus-time__text">
        <strong>Salida:</strong> 11:40
        <br />
        <strong>Lugar:</strong> Estación de autobúses
      </p>
    </a>
  </div>
</div>

<!-- Comillas -->
<div class="mb-2 flex justify-start items-center w-full">
  <div
    class="z-20 flex items-center order-1 me-3 shadow-xl w-8 h-8 p-1 rounded-full bus-time__icon animate__animated animate__bounceInLeft"
  >
    <Icon icon="bus" />
  </div>
  <div
    class="order-1 rounded-lg shadow-xl w-5/12 p-2 animate__animated animate__backInRight bus-time__card"
  >
    <a href={linkBusComillas} target="_blank">
      <h3 class="bus-time__title">Comillas</h3>
      <p class="bus-time__text">
        <strong>Salida:</strong> 12:00
        <br />
        <strong>Lugar:</strong> Parada de autobús y tren turístico
      </p>
    </a>
  </div>
</div>

<!-- Cabezon -->
<div class="mb-2 flex justify-start items-center w-full">
  <div
    class="z-20 flex items-center order-1 me-3 shadow-xl w-8 h-8 p-1 rounded-full bus-time__icon animate__animated animate__bounceInLeft"
  >
    <Icon icon="bus" />
  </div>
  <div
    class="order-1 rounded-lg shadow-xl w-5/12 p-2 bus-cabe cursor-pointer animate__animated animate__backInRight bus-time__card"
  >
    <a href={linkBusCabe} target="_blank">
      <h3 class="bus-time__title">Cabezón de la Sal</h3>
      <p class="bus-time__text">
        <strong>Salida:</strong> 12:20
        <br />
        <strong>Lugar:</strong> Parada de autobús enfrente de El Cruce
      </p>
    </a>
  </div>
</div>

<!-- Los molinos -->
<div class="mb-2 flex justify-start items-center w-full">
  <div
    class="z-20 flex items-center order-1 me-3 shadow-xl w-8 h-8 p-1 rounded-full bus-time__icon animate__animated animate__bounceInLeft"
  >
    <Icon icon="bus" />
  </div>
  <div
    class="order-1 rounded-lg shadow-xl w-5/12 p-2 bus-cabe cursor-pointer animate__animated animate__backInRight bus-time__card"
  >
    <a href={linkBusMolinos} target="_blank">
      <h3 class="bus-time__title">Restaurante Los Molinos de Ruente</h3>
      <p class="bus-time__text">
        <strong>Llegada:</strong> 12:35
        <br />
        <strong>Lugar:</strong> Restaurante Los Molinos de Ruente
      </p>
    </a>
  </div>
</div>

<div class="mt-6">
  <p class="bus-time__text-return">
    A las 00:00h saldrá el autobús de vuelta con el itinerario inverso.
  </p>
  <small>Pulsa en cada horario para ver el lugar exacto</small>
</div>

<style lang="scss">
  @import "../../styles/variables/_color.scss";
  .time-border-simple {
    background-color: white;
    border: 2px solid #f1e2c9;
  }
  .time-border {
    background-color: white;
    border: 2px solid #f1e2c9;
    transition: border-color 0.5s ease;

    &:hover {
      border-color: #506326;
    }
  }

  .bus-time__card {
    background-color: $color-bg-beige;
    border: 2px solid $color-gold;
    width: 100% !important;
    transition: 0.5s ease;
    cursor: pointer;

    &:hover {
      border-color: $color-dark-green;
    }
  }

  .bus-time__icon {
    background-color: $color-bg-beige;
    border: 2px solid $color-gold;
  }
  .bus-time__title {
    font-size: 1.2rem;
    font-weight: bold;
    color: $color-dark-green;
    text-align: start;
    text-wrap: balance;
  }

  .bus-time__text {
    font-size: 1rem;
    text-align: start;
    text-wrap: balance;
  }

  .bus-time__text-return {
    font-weight: 900;
  }
</style>
