<div class="map-responsive">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.558506094511!2d-4.267469923318906!3d43.2606738777291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd490f9abb75d487%3A0xdb9c06f0841bc448!2sLos%20Molinos%20de%20Ruente!5e0!3m2!1sen!2ses!4v1691061989131!5m2!1sen!2ses"
    width="600"
    height="450"
    frameborder="0"
    style="border:0"
    allowfullscreen
  >
  </iframe>
</div>

<style>
  .map-responsive {
    padding: 5px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>
