<div class="map-responsive2">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11592.047494749473!2d-4.788260974825505!3d43.418578639747906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd49ea52302de4c1%3A0x9a0ee146c2dcdf37!2sFinca%20Las%20Nieves!5e0!3m2!1ses!2ses!4v1733069144176!5m2!1ses!2ses"
    height="450"
    frameborder="0"
    style="border:0"
    allowfullscreen
  >
  </iframe>
</div>

<style>
  .map-responsive2 {
    padding: 5px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .map-responsive2 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>
