---
interface Props {
  title: string;
  id: string;
  open: string;
  close: string;
}

import Icon from "astro-icon";
const { title, id, open, close } = Astro.props;
---

<div
  id={id}
  class="modal fixed top-0 left-0 w-full h-full items-center justify-center hidden"
>
  <div
    class="modal__content rounded-3xl relative animate__animated "
  >
    <div>
      <button id={close} class="close-modal">
        <Icon name="mdi:close" class="close-icon" />
      </button>

      <div class="modal__title">
        <h1 class="animate__animated animate__fadeInDown" slot="title">{title}</h1>
      </div>

      <div class="modal__body animate__animated animate__fadeIn ">
        <slot name="body" />
      </div>

      <div class="modal__footer animate__animated animate__fadeInUp">
        <slot name="footer" />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../../styles/variables/_color.scss";

  .modal {
    background-color: rgba(135, 111, 111, 0.5);
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal__content {
      display: grid;
      place-items: center;
      width: 100%;
      height: 90%;
      overflow-x: hidden;
      overflow-y: auto;
      max-width: 600px;
      padding: 2rem;
      text-align: center;
      background-image: url("/assets/images/fondo.webp");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    .modal__title {
      h1 {
        margin-bottom: 1rem;
        color: $color-dark-green;
        font-weight: 700;
        font-size: 1.9rem;
      }
    }

    .modal__body {
      color: $color-dark-green;
    }

    .modal__footer {
      margin-top: 30px;
    }
    .close-modal {
      position: absolute;
      top: 15px;
      right: 15px;
      border-radius: 50%;
      background: transparent;
      border: none;
      outline: none;
      padding: 5px;
      background-color: $color-gold;
      cursor: pointer;
      .close-icon {
        height: 20px;
        color: white;
      }
    }
  }

  .hidden {
    display: none;
  }
  .show {
    display: flex;
  }
</style>

<script define:vars={{ id: id, open: open, close: close }}>
  const openModal = document.getElementById(open);
  const closeModal = document.getElementById(close);
  const modal = document.getElementById(id);

  openModal.addEventListener("click", function () {
    modal.classList.remove("hidden");
    modal.classList.add("show");
    document.body.classList.add("modal-open");
  });

  closeModal.addEventListener("click", function () {
    closeModalEvent(modal);
  });

  modal.addEventListener("click", function (e) {
    if (e.target === modal) {
    closeModalEvent(modal);
    }
  });

function closeModalEvent(element) {
  element.classList.add("hidden");
  element.classList.remove("show");
  document.body.classList.remove("modal-open");
}
</script>
