<section class="preboda">
  <div class="preboda__text">
    <p>
      Vamos a celebrar la preboda el vienés 14 de junio, empezará sobre las
      19:00h en la casa familiar de Inés, cerca de San Vicente de la Barquera,
      Barrio de Santillán 10. Será algo informal en el jardín de la vivienda.
    </p>
  </div>

  <div class="preboda__iframe iframe-responsive">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d362.4504546477573!2d-4.424198569467076!3d43.385311120587474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd49a03b9687b1db%3A0x76e216c002137a2f!2sBo.%20Santill%C3%A1n%2C%209%2C%2039548%20San%20Vicente%20de%20la%20Barquera%2C%20Cantabria!5e0!3m2!1sen!2ses!4v1708886275237!5m2!1sen!2ses"
      width="600"
      height="450"
      frameborder="0"
      style="border:0"
      allowfullscreen
    >
    </iframe>
  </div>

  <div class="preboda__help">
    <p>
      No disponemos de mucho aparcamiento, por lo que se agradecerá que se
      compartan los coches en la medida de lo posible.
    </p>
    <p>
      Si necesitas ayuda para llegar, no dudes en ponerte en contacto con
      nosotros.
    </p>
  </div>
</section>

<style>
  .preboda__iframe {
    margin: 20px 0;
  }

  .iframe-responsive {
    padding: 5px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .iframe-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>
