---
import Icon from "./Icon.astro";
import ListIcon from "./ListIcon.astro";
---

<div>
  <div class="mb-5">
    <p class="bus-time__text-return">
      Recomendaciones para los invitados en Llanes y alrededores.
    </p>
  </div>
  <p>-- Alojamientos --</p>
  <ListIcon
    tips="Alojamiento:"
    description="Hotel Montemar ***"
    link="https://maps.app.goo.gl/8dPX2RfxKJNcDENNA"
  >
    <span class="w-full">
      <Icon icon="hotel" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Alojamiento:"
    description="Hotel Don Paco ***"
    link="https://maps.app.goo.gl/12BYWL5W6Moyed4Y8"
  >
    <span class="w-full">
      <Icon icon="hotel" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Alojamiento:"
    description="Hotel Paraiso ***"
    link="https://maps.app.goo.gl/jK2xgt2JQv8fdv438"
  >
    <span class="w-full">
      <Icon icon="hotel" />
    </span>
  </ListIcon>
  <p>-- Peluqueria y Estética --</p>
  <ListIcon
    tips="Peluquería señoras:"
    description="Mar Peluqueria"
    link="https://maps.app.goo.gl/FyRNoPCxya48tCxe8"
  >
    <span class="w-full">
      <Icon icon="secador" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Peluquería señoras:"
    description="Conchi Peláez"
    link="https://maps.app.goo.gl/XARS4Mn44CcJi71T8"
  >
    <span class="w-full">
      <Icon icon="secador" />
    </span>
  </ListIcon>
  <ListIcon
    tips="Peluquería unisex:"
    description="Javier Peluqueros"
    link="https://www.instagram.com/javierpeluqueros.llanes/?hl=es"
  >
    <span class="w-full">
      <Icon icon="secador" />
    </span>
  </ListIcon>
</div>
<ListIcon
  tips="Estética:"
  description="Tamara Bueres"
  link="https://maps.app.goo.gl/ZFT5VUap2mTkg1CGA"
>
  <span class="w-full">
    <Icon icon="pintalabio" />
  </span>
</ListIcon>
<p>-- Cafeterías --</p>
<ListIcon
  tips="Cafeteria:"
  description="Heladería Revuelta"
  link="https://maps.app.goo.gl/XnRHiWAVmUvDAZr89"
>
  <span class="w-full">
    <Icon icon="restaurant" />
  </span>
</ListIcon>
<ListIcon
  tips="Cafeteria:"
  description="Cafetería El Latino"
  link="https://maps.app.goo.gl/xpqYnLjHxwDvm89d6"
>
  <span class="w-full">
    <Icon icon="restaurant" />
  </span>
</ListIcon>
<ListIcon
  tips="Cafeteria:"
  description="Xana Cafetería"
  link="https://maps.app.goo.gl/iK6cRzoF9WqStAbN9"
>
  <span class="w-full">
    <Icon icon="restaurant" />
  </span>
</ListIcon>
<p>-- Sidrerías --</p>
<ListIcon
  tips="Sidrería:"
  description="La Casería de Santa Marina"
  link="https://maps.app.goo.gl/bjYGmGHxjWmH3sc76"
>
  <span class="w-full">
    <Icon icon="restaurant" />
  </span>
</ListIcon>
<ListIcon
  tips="Sidrería:"
  description="La Amistad"
  link="https://maps.app.goo.gl/2e4jrZpu3o5Hg8kPA"
>
  <span class="w-full">
    <Icon icon="restaurant" />
  </span>
</ListIcon>
<ListIcon
  tips="Sidrería:"
  description="El Bodegón"
  link="https://maps.app.goo.gl/1AZyreqRcdaWW5ws6"
>
  <span class="w-full">
    <Icon icon="restaurant" />
  </span>
</ListIcon>
<p>-- Mercerías --</p>
<ListIcon
  tips="Mercería:"
  description="Almacenes Covadonga"
  link="https://maps.app.goo.gl/QbW5Yv933FF4788J7"
>
  <span class="w-full">
    <Icon icon="merceria" />
  </span>
</ListIcon>
<p>-- Supermercados --</p>
<ListIcon
  tips="Supermercado:"
  description="Alimerka"
  link="https://maps.app.goo.gl/69ErbxF5pZ94uzuHA"
>
  <span class="w-full">
    <Icon icon="supermarket" />
  </span>
</ListIcon>
<ListIcon
  tips="Supermercado:"
  description="Día"
  link="https://maps.app.goo.gl/X3Q8z9Ts47w237GN6"
>
  <span class="w-full">
    <Icon icon="supermarket" />
  </span>
</ListIcon>

<p class="my-4">
  Recomendación de la novia, en el Fito encontrareis las mejores palmeras de
  chocolate del mundo.
</p>
<p>-- Pastelerías --</p>

<ListIcon
  tips="Confitería/Pastelería:"
  description="Confitería El Fito"
  link="https://maps.app.goo.gl/KJuGvrSKffWMnoyR7"
>
  <span class="w-full">
    <Icon icon="pastel" />
  </span>
</ListIcon>
<ListIcon
  tips="Confitería/Pastelería:"
  description="Confitería Vega"
  link="https://maps.app.goo.gl/UbeHqCdNRdqR8h4EA"
>
  <span class="w-full">
    <Icon icon="pastel" />
  </span>
</ListIcon>

<div class="mt-5">
  <p class="font-bold">¡Si tienes alguna duda contáctanos!</p>
</div>

<style lang="scss">
  @import "../../styles/variables/_color.scss";
</style>
