---
import "../styles/global.scss";
import "animate.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Boda de Isabel y Rubén - 3 de mayo de 2025"
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/images/iconopagina.ico"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="scrollbar-style">
    <slot />
  </body>
</html>
